.login-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    height: 100%;
    overflow: hidden;
    font-size: 1em;
    justify-content: center;
    min-width: 200px;
    width: 100%;
    align-items: center;

}



.login-form {
  margin-top: 25vh;
}
.login-form div :first {
    width: 100%;
    margin-bottom: 15px;
}
.login-input {
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.login-input input {
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: darkorchid;
    font-weight: 600;
    color: white !important;
    padding: 5px 5px 5px 5px;

    
}
.login-input label {
    min-width: fit-content;
    width:85px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1em;
}
.login-input input::placeholder {
    color: white;
}

.login-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.login-form-buttons button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0;
    padding-left: 0;
}

.login-form-buttons a, .login-form-buttons p {
    text-decoration: none;

}
.login-error {
    color: white;
    margin-bottom: 0px;
}
