.login-page {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 450px;
}

.login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    margin: 0px 20px;
}

.login-form div :first {
    
    margin-bottom: 15px;
}
.login-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}
.login-input * {
    font-size: 1em;
    color: white;
}
.login-input *:focus {
    font-size: 1em;
    color: white;
}
.login-input input,.login-input select,.login-input textarea {
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: darkorchid;
    font-weight: 700;
    color: white !important;
    padding: 5px 5px 5px 5px;
    width: 100%;
    
}
.login-input label {
    min-width: fit-content;
    width:85px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 5px;
}
.login-input input::placeholder {
    color: white;
}
.login-input input::content {
    color: white
}
.login-input input:hover {
    color: white;
    border-color: white;
}
.login-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.login-form-buttons button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-left: 0;
    padding-left: 0;
}

.login-form-buttons a, .login-form-buttons p {
    text-decoration: none;

}
.login-error {
    color: white;
    margin-bottom: 0px;
}
